.footerTwo {
  background-color: #fff;
  padding: 20px 80px;
  height: 250px;
}

.footerTwo__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footerTwo__bottom {
  margin-top: 80px;
}

.footerTwo__first > h4,
.footerTwo__second > h4,
.footerTwo__third > h4,
.footerTwo__bottom > h4,
.footerTwo__fourth > h4 {
  font-size: 18px;
}

.footerTwo__first > img {
  margin-left: -6px;
}

.footerTwo__second__country > img {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin: 0 5px;
}
