.allCollection {
  padding: 10px 80px;
}
.allCollection__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.allCollection__heading > h2 {
  font-size: 24px;
}

.allCollection__heading__link {
  display: flex;
  color: #1a9cb7;
  font-weight: 500;
}

.allCollection__row {
  display: flex;
}
